@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
    background-color:#ddd; 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #222;
    display: flex;
    align-items: center;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #eee;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 300;
  
  }
.form-contact {
    position: relative;
    width: 100%;
    height: 100vh;
}
form { 
    position: absolute;
    max-width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
form h2 {
    text-align: center;
    margin-bottom: 70px;
    color: #222;
    font-family: 'Pacifico', sans-serif;
    font-weight:550;
    font-size: 40px;
    line-height: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #222;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.footer {
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 1px;
    width: 100%;
    height: 60px;
    top: 930px;
    background-color: #222;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;

}